body {
    background-color: black;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: blueviolet;
    font-size: 45px;
    color: white;
}
h2 {
    text-align: center;
    font-family: monospace;
}
h6 {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}
p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
h6 {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    color: red;
}
a {
    text-decoration: none;
}